[submodule "rusty-grid"]
	path = rusty-grid
	url = https://github.com/kiprasmel/rusty-grid
[submodule "server-party"]
	path = server-party
	url = https://github.com/kiprasmel/server-party
[submodule "shape-flow"]
	path = shape-flow
	url = git@github.com:kiprasmel/shape-flow.git
